# Virtual environment
amr_env/

# Dataset
dataset/

# Python cache
__pycache__/
*.pyc

# Model weights
resnet18_feature.pth
resnet18_scratch.pth

# Temporary files
*.tmp

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/